.billboard.first-block {
    padding-top: 0;
}

.board {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media screen and (min-width: 768px) {
        height: 85vh;
    }

    @media screen and (min-width: 1200px) {
        height: 95vh;
    }

    &__background {
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        transform: scale(1.01);
        top: 0;
        z-index: -1;

        &--blurred {
            filter: blur(2px) grayscale(100%);
        }

        &--black {
            background-color: $black;

            @supports (background-blend-mode: luminosity) {
                background-blend-mode: luminosity;
            }
        }

        &--green {
            background-color: $green-neon;

            @supports (background-blend-mode: luminosity) {
                background-blend-mode: luminosity;
            }
        }

        &--red {
            background-color: $red;

            @supports (background-blend-mode: luminosity) {
                background-blend-mode: luminosity;
            }
        }

        &--blue {
            background-color: $blue;

            @supports (background-blend-mode: luminosity) {
                background-blend-mode: luminosity;
            }
        }
    }

    &__content {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        padding: 10%;
        position: relative;
        z-index: 3;

        img {
            max-height: 150px;
            width: auto !important;
        }

        &--right {
            text-align: right;
        }
    }
}

.slider {
    &__buttons {
        display: flex;
        left: 1rem;
        right: 1rem;
        position: absolute;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
    }

    &__button {
        align-items: center;
        background-color: $gray-lightest;
        border-radius: 2rem;
        color: $gray-darker;
        display: flex;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        transition: all ease-in-out 0.2s;

        svg {
            fill: $gray-darker;
            width: 10px;
        }

        &--prev {
            svg {
                margin-right: 0.5rem;
            }
        }

        &--next {
            svg {
                margin-left: 0.5rem;
            }
        }
    }
}

.billboard.active-slider {
    position: relative;
    height: 50vh;

    @media screen and (min-width: 768px) {
        height: 85vh;
    }

    @media screen and (min-width: 1200px) {
        height: 95vh;
    }

    .board {
        bottom: 0;
        position: absolute;
        top: 0;
        transition: all ease-in-out 0.2s;

        &.waiting {
            transform: translateX(100%);
        }

        &.active {
            transform: translateX(0);
        }

        &.viewed {
            transform: translateX(-100%);
        }
    }
}