.gform {
    &_wrapper {
        form {
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            appearance: none;
            border: 3px solid rgba($gray-dark, 0.25);
            border-radius: 5px;
            box-sizing: border-box;
            display: block;
            font-family: $titillium;
            font-size: 1rem;
            outline: 0;
            padding: 0.5rem;
            transition: all ease-in-out 0.2s;
            width: 100%;

            &:focus {
                border-color: rgba($gray-dark, 0.5);
            }
        }

        input[type="text"],
        input[type="email"] {
            max-width: 400px;
        }

        input[type="submit"] {
            appearance: none;
            background: rgba($gray-dark, 0.15);
            border: 3px solid rgba($gray-dark, 0.15);
            border-radius: 5px;
            color: $gray-darker;
            cursor: pointer;
            display: block;
            font-family: $titillium;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.05rem;
            padding: 1rem 2rem;
            text-transform: uppercase;
            transition: all ease-in-out 0.2s;
            width: 100%;

            @media screen and (min-width: 768px) {
                display: inline-block;
                padding: 0.75rem 1.75rem;
                width: auto;

                &:hover {
                    background: $gray-darker;
                    border-color: $gray-darker;
                    color: $gray-lightest;
                }
            }
        }
    }

    &_validation_container {
        display: none;
        visibility: hidden;
    }
}

.gfield {
    margin-bottom: 1.25rem;
}

.ginput {
    &_complex {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        span {
            display: block;
            margin-top: 0.75rem;

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2) {
                @media screen and (min-width: 768px) {
                    margin-top: 0;
                }
            }

            @media screen and (min-width: 768px) {
                width: calc(50% - 1rem);
            }
        }

        label {
            color: $gray-dark;
            font-size: 0.8rem;
            font-weight: 700;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
        }
    }
}