.site {
    &__header {
        background: rgba($black, 0.9);
        position: fixed;
        width: 100%;
        z-index: 4;

        &-inner {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1200px;
            position: relative;

            @media screen and (min-width: 768px) {
                align-items: center;
            }
        }
    }

    &__nav {
        bottom: 0;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        transition: all 0.2s ease-in-out;
        width: calc(100% - ((1.25rem * 2) + 25px));
        z-index: 1;

        &--closed {
            transform: translateX(-100%);

            @media screen and (min-width: 768px) {
                transform: translateX(0%);
            }
        }

        &--open {
            background: $blue-dark;
            transform: translateX(0%);

            @media screen and (min-width: 768px) {
                background: transparent;
            }
        }

        @media screen and (min-width: 768px) {
            height: auto;
            position: relative;
        }
    }
}

.nav-ui {
    order: 2;
    padding: 0 1.25rem;
    z-index: 5;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__bar {
        background: $white;
        display: block;
        height: 2px;
        margin: 0.25rem 0;
        width: 25px;
    }
}

.brand {
    align-items: center;
    display: flex;
    padding: 1.25rem 1rem;
    position: relative;
    z-index: 5;

    &__logo {
        max-width: 220px;
    }
}

.site-menu {
    box-sizing: border-box;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    overflow: scroll;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        margin-top: 0;
        overflow: visible;
        padding: 0 0.5rem;
    }

    &__item {
        border-bottom: 1px solid rgba($black, 0.25);
        position: relative;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: auto;
        }

        @media screen and (min-width: 768px) {
            &:hover {
                .site-menu__sub-menu {
                    display: block;
                }
            }
        }
    }

    &__link {
        color: $gray-lightest;
        display: block;
        font-family: $titillium;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        position: relative;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
            text-align: center;
            transition: all ease-in-out 0.2s;
        }

        &:hover {
            background: rgba($white, 0.1);
            border-radius: 3px;
        }
    }

    &__sub-menu {
        padding-left: 1rem;

        &__link {
            color: $white;
            display: inline-block;
            font-size: 1rem;
            padding: 0.5rem 1rem 0.75rem;

            @media screen and (min-width: 768px) {
                display: block;
                
                &:hover {
                    background-color: rgba($white, 0.25);
                }
            }
        }

        @media screen and (min-width: 768px) {
            background: $black;
            display: none;
            left: 50%;
            padding: 0;
            position: absolute;
            transform: translateX(-50%);
            width: 250px;
        }
    }
}