.partners {
    background: $gray-lighter;
    padding: 2rem;
}

.partner {
    margin: 1rem 1.5rem;
    max-width: 175px;

    &__list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}